body {
    width: 100%;
    overflow-x: hidden;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

main {
    width: 100%;
    background-color: white;
}

article {
    margin: 75px 100px 0 0;
    display: block;
}

section {
    margin-left: 75px;
    margin-top: 50px;
}

.buttonXapXep {
    margin-bottom: -50px;
}

article div.trang2 {
    float: right;
}

section.advertisement {
    margin-bottom: 50px;
}

.trang2 {
    background-color: white;
    padding: 15px;
    margin: 10px;
    height: 550px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}


/* cac nut sap xep */
h3 {
    font-family: Arial;
    margin-bottom: 10px;
    margin-left: -10px;
}

#gia_cao_thap {
    width: 120px;
    height: 29px;
    padding-top: 2px;
    margin-left: -10px;
    background-color: #e7e8eac8;
    border: 1.3px rgba(190, 183, 183, 0.918) solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    Align-items: center;
    font-size: 13.5px;
    font-family: Bahnschrift SemiBold;
    color: black;
    float: left;
}

#gia_cao_thap:hover {
    cursor: pointer;
}

#gia_thap_cao {
    width: 120px;
    height: 29px;
    padding-top: 2px;
    margin-left: -10px;
    background-color: #e7e8eac8;
    border: 1.3px rgba(190, 183, 183, 0.918) solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    Align-items: center;
    font-size: 13.5px;
    font-family: Bahnschrift SemiBold;
    color: black;
    float: left;
    margin-left: 13px;
    margin-right: 13px;
}

#gia_thap_cao:hover {
    cursor: pointer;
}

#noi_bat {
    width: 90px;
    height: 29px;
    padding-top: 2px;
    margin-left: -10px;
    background-color: #e7e8eac8;
    border: 1.3px rgba(190, 183, 183, 0.918) solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    Align-items: center;
    font-size: 13.5px;
    font-family: Bahnschrift SemiBold;
    color: black;
}

#noi_bat:hover {
    cursor: pointer;
}

/* cac nut xap xep */

/* giam gia */
.price_percent {
    background-image: url(../image/price_percent.png);
    width: 100px;
    height: 100px;
    Background-size: 100%;
    Background-repeat: no-repeat;
    position: absolute;
    margin-top: -15px;
    margin-left: -20px;
    font-size: 14px;
    color: white;
    font-family: Bahnschrift SemiBold;
    padding-top: 5px;
    padding-left: 7px;
    box-sizing: border-box;
}

/* giam gia */

.contairner {
    background-color: white;
    display: grid;
    margin-top: 10px;
    margin-left: 40px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.parameterButton button {
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: 10px;
}

.money p {
    display: inline-block;
    padding: 3px;
    margin: 5px;
}

p:first-child {
    color: red;
}

.underlineText {
    text-decoration: line-through;
}

div.information {
    padding: 5px;
    margin: 5px;
}

/* MŨI TÊN CUỐI TRANG  */
.muiten {
    border: 3px solid black;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    left: 96%;

}

.sapxeptheo {
    margin-left: 60px;
}