* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.modal-inner {
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background: greenyellow;
    align-items: center;
    padding: 15px;
}

.hide {
    display: none;
}