.page-gt {
	width: 46%;
	margin: 24px 0 0px 0px;
	border: 4px solid rgb(207, 207, 207);
	background-color: bisque;

}

body {
	margin: 2px;
}

.page-header {
	position: fixed;
	width: 45.3%;
	height: 30px;
	background: pink;
	line-height: 40px;
	margin-top: 19px;
	padding-left: 10px;
}

.page-info {
	margin-top: 60px;
	margin-left: 10px;
	font-size: 15px;
	text-align: justify;
	width: 500px;
}

footer {
	color: white;
	background-color: #1c1a1a;
	padding: 2px;
	display: block;
	text-align: center;
	margin-top: 0;
}

/* MENU */
.menu {
	position: fixed;
	inset: 0 0 auto 0;
}

.menu ul {
	list-style-type: none;
	background-color: rgb(57, 57, 57);
	margin: 0px;
	padding: 0px;
	overflow: hidden;

}

.menu a {
	/* tac dong vao các thẻ a trong class "menu" */
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;

}

.menu a:hover {
	color: rgb(247, 65, 65);
	background-color: #221818;
}

.menu li {
	float: right;

}