body {
    background-color: #ddd7d7;
    font-family: 'roboto', sans-serif;

}

/* MENU */
.menu {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    background-color: rgb(57, 57, 57);
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

.menu a {
    /* tac dong vao các thẻ a trong class "menu" */
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.menu a:hover {
    color: rgb(247, 65, 65);
    background-color: #221818;
}

.menu li {
    float: right;

}

/* MENU ĐỘNG */
.item img {
    width: 100%;
    max-height: 400px;
}

/* SEARCH-BAR */
.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.anhweb {
    display: flex;
}

.anhweb-img {
    margin-top: 15px;
}

.anhweb-title {

    font-family: 'forte', sans-serif;
    color: rgb(73, 35, 121);

}

.glass {
    vertical-align: middle;
}

.glass>input {
    display: block;
    align-items: center;
    justify-self: center;
    border: none;
    padding: 1rem 14rem 1rem 4rem;
    box-shadow: 1px 1px 5px 1.5px rgb(209, 206, 206);
    border-radius: 20px;

}

.glass>button {
    border: none;
    background-color: white;
    font-size: 15px;
    position: relative;
    left: 20px;
    top: 30px;

}

.glass {
    display: block;
}

.button * {
    border: none;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px 25px;

}

.button {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 40px;
}

.button *:hover {
    border: 2px solid black;
}

.button>.dangnhap {
    color: rgb(19, 13, 13);
    font-weight: bold;
    background: rgb(34, 193, 195);
    background: linear-gradient(21deg, rgba(34, 193, 195, 1) 0%, rgba(55, 126, 176, 1) 39%, rgba(77, 90, 242, 1) 88%, rgba(45, 46, 253, 1) 100%);
}

.button>.giohang {
    color: rgb(14, 11, 11);
    font-weight: bold;
    background: rgb(131, 58, 180);
    background: linear-gradient(32deg, rgba(131, 58, 180, 1) 0%, rgba(250, 40, 40, 0.7681197478991597) 32%, rgba(251, 57, 151, 0.6560749299719888) 70%, rgba(252, 64, 201, 1) 87%, rgba(252, 93, 211, 1) 96%, rgba(249, 252, 106, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

/* TỪ KHÓA TÌM KIẾM: */
.tukhoa ul {
    list-style-type: none;
    background-color: rgb(57, 57, 57);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.tukhoa a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.tukhoa a:hover {
    color: rgb(247, 65, 65);
    background-color: #221818;
}

.tukhoa li {
    float: right;

}

/* FOOTER */
footer {
    color: white;
    background-color: #1c1a1a;
    padding: 2px;
    display: block;
    text-align: center;
    clear: both;
    bottom: 0;

}

/* TỪ KHÓA: */
.search-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.search-bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.search-bar a:hover {
    color: rgb(247, 65, 65);
    background-color: #221818;
}

.search-bar li {
    float: right;
}

/* =====TIN CONG NGHE ========= */
.p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 250, 241);
    background: rgb(131, 58, 180);
    background: linear-gradient(32deg, rgba(131, 58, 180, 1) 0%, rgba(250, 40, 40, 1) 50%, rgba(252, 64, 201, 1) 87%, rgba(252, 93, 211, 1) 96%, rgba(252, 106, 152, 1) 100%, rgba(252, 176, 69, 1) 100%);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 15px;
    animation-name: doimau;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: phatsang;
    animation-duration: 1s;

}

@keyframes doimau {
    20% {
        background-color: rgb(31, 255, 110);
    }

    20% {
        background-color: rgb(246, 145, 239);
    }

}

@keyframes phatsang {
    40% {
        box-shadow: 0px 0px 10px 1px rgb(248, 58, 20);
    }
}

.image-title2 img {
    border-radius: 20px;
    margin-right: 25px;

}

.image-title2 img:hover {
    border: rgb(247, 171, 57);
    animation: phatsang 0.5s infinite;
}

.image-title2 {
    margin-left: 40px;
}

/* SẢN PHẨM HOT */
.sanphamhot {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.error {
    color: red;
}