.body-tintuc {
	margin: 80px 50px 50px 40px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

html {
	background-image: url(../img/anhnen_tintuc.avif);
	background-size: cover;
}

.tintuc-info {
	height: 170px;
	width: 90%;
	margin-top: 5px;

}

.tintuc-info img {
	border: 3px solid gray;
	float: left;
	margin-right: 10px;
	padding: 1px;
	border-radius: 10px;
	height: 148px;
	width: 224px;
}

.img1:hover {
	animation-name: phatsang;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes phatsang {
	40% {
		box-shadow: 0px 0px 10px 1px rgb(247, 133, 68);
	}

}

.tintuc-info a {
	color: rgb(58, 53, 53);
	font-family: 'roboto', sans-serif;
	text-decoration: none;
	font-style: italic;
}

.tintuc-info a:hover {
	color: #ff1d1d;
}

.tintuc-info h5 {
	font-weight: bold;
	font-style: italic;
	color: rgb(42, 42, 42);
}


footer {
	color: white;
	background-color: #1c1a1a;
	padding: 2px;
	display: relative;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;

}

/* MENU */
.menu {
	position: fixed;
	inset: 0 0 auto 0;
}

.menu ul {
	list-style-type: none;
	background-color: rgb(57, 57, 57);
	margin: 0px;
	padding: 0px;
	overflow: hidden;

}

.menu a {
	/* tac dong vao các thẻ a trong class "menu" */
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;

}

.menu a:hover {
	color: rgb(247, 65, 65);
	background-color: #221818;
}

.menu li {
	float: right;

}